@{
    Layout = "_Layout";
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Panel w budowie...</h1>
    <a class="btn btn-primary mt-3" asp-controller="Tell" asp-action="Queue">Sprawdź nowe posty</a>
</div>
